.task-wrapper {
  background-color: transparentize($color-white, 0.25);
  border-radius: $box-radius;
  padding: $spacing-smaller/10 $spacing $spacing;
  margin-bottom: $spacing-smaller;

  .actions-row {
    margin-top: $spacing;
  }
}


.time-span {
  font-size: $font-size-medium;
}
