################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/HotelManagementSystem/HotelManagementSystem/bin/Debug/netcoreapp1.1
