################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/HotelManagementSystem/HotelManagementSystem/bin/Debug/netcoreapp1.1
/HotelManagementSystem/HotelManagementSystem/obj/Debug/netcoreapp1.1
/HotelManagementSystem/HotelManagementSystem/obj/Debug/netcoreapp1.1
/HotelManagementSystem/HotelManagementSystem/obj
/Lab1KWZ
/Lab1KWZ
.vs
/HotelManagementSystem/doc
/HotelManagementSystem/apidoc
/HotelManagementSystem/.vs/config/applicationhost.config
/HotelManagementSystem/HMS.Tests/bin/Release/netcoreapp1.1/win7-x64
/HotelManagementSystem/HMS.Tests/obj/Release/netcoreapp1.1/win7-x64
/HotelManagementSystem/HotelManagementSystem.Tests/bin
/HotelManagementSystem/HotelManagementSystem.Tests/obj
/HotelManagementSystem/HotelManagementSystem.Tests/test.xml
