<template>
  <div class="row">
    <div class="col-xs-12 custom-box">
      <div class="row">
        <div class="col-xs-12" style="margin-bottom: 20px;">
          <ul class="nav nav-pills  nav-justified">
            <li repeat.for="route of router.navigation" class="${route.isActive ? 'active' : ''}">
              <a href.bind="route.href">${route.title}</a>
            </li>
          </ul>
        </div>
      </div>

      <router-view></router-view>

      <div class="row">
        <div class="col-xs-12 text-center">
          <a route-href="route: createdTasks"><button class="btn btn-warning btn-large">YOUR CREATED TASKS</button></a>
        </div>
      </div>


    </div>
  </div>

</template>
