<template>

  <require from="../../../components/jumbotron/jumbotron-component.html"></require>
  <div class="row" as-element="jumbotron-component"></div>

  <div class="row">
    <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-2">
      <a route-href="route: hotelRules"
         class="btn btn-info btn-lg btn-block">
        HOTEL RULES
      </a>
    </div>

    <div class="col-xs-6 col-xs-offset-3 col-sm-3 col-sm-offset-2">
      <a route-href="route: cases"
         class="btn btn-warning btn-lg btn-block">
        CASES
      </a>
    </div>
  </div>
</template>
